*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
    
}
body{
    background-image:url(../img/desktop-wallpaper-windows-10-green-logo-green-abstract-background-minimalism-windows-10-logo-windows-10-minimalism-windows-10.jpg);
    background-size: 100% 100vh;
    background-attachment: fixed;
   
    
}
.alls{
    margin: 20px;
    padding: 20px;
}
html{
    scroll-behavior: smooth;
}
div.one{ 
    padding: 0%;
    
    border: 1px solid black;
    
   
    background-color:rgb(127, 226, 14);
    /*animation: wuw 12s ease alternate;*/
    
}
/*
@keyframes wuw {
    0%{
        background-position:0,50% ;
    }
    100%{
        background-position:0, 100%s;
    }
}
*/
.one a{
    display: block;
    text-align: center;
    text-decoration:none;
    float:left;
    padding:10px 10px;
    color:#070303;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    position: relative;
    

}
.one :hover {
    background-color: rgb(91, 221, 119);
    border-radius: 5px;
    transform: scale(1.1);
    

}
.two{
    margin: 23% ;
    margin-top: 50px;
    border:2px solid black;
    padding-bottom: 2%;
    box-shadow: 10px 15px rgb(18, 197, 33);
    background-color: #93eb9b;
   

}

div.two h1{
    margin-bottom: 25px;
    text-shadow: 2px 2px green;
    margin-left: 2%;
    margin-top: 2%;
}
div.two li{
    margin-left:2%;


}
div.two h2{
    margin-left:2%;
}

.trii h2{
    display:flex;

}
.triie{
  display:grid;
  grid-auto-flow: column;
  margin:2%;


}

.btm{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 50px ;
    
    
}
.btm button a{
    padding: 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
