*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    background-image:url(../img/desktop-wallpaper-windows-10-green-logo-green-abstract-background-minimalism-windows-10-logo-windows-10-minimalism-windows-10.jpg);
    background-size: 100% 100vh;
    background-attachment: fixed;
    
    
}
div.one{ 
    padding: 10px;
    margin:px;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;
    background-color:rgb(127, 226, 14);
    animation: wuw 12s ease alternate;
    
}
@keyframes wuw {
    0%{
        background-position:0,50% ;
    }
    100%{
        background-position:0, 100%s;
    }
}
.one a{
    display: block;
    text-align: center;
    text-decoration:none;
    float:left;
    padding:10px 10px;
    color:#070303;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 2px;
    

}
.one :hover {
    background-color: rgb(142, 223, 176);
    border-radius: 5px;
    transform: scale(1.2);

}
.two{
    margin: 23% ;
    margin-top: 50px;
    border:2px solid black;
    height:1000vh;
    width:50%;
    box-shadow: 10px 15px rgb(18, 197, 33);
    background-color: #93eb9b;
    

}

div.two h1{
    margin-bottom: 25px;
    text-shadow: 2px 2px green;
    margin-left: 2%;
}
div.two li{
    margin-left:2%;
}
div.two h2{
    margin-left:2%;
}


